<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{{body}}}
    <script data-main="js/require.config" src="/js/require.js"></script>

    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <!--<script data-main="scripts/main" src="scripts/require.js"></script>-->
    <!--<script type='text/javascript' src="js/application.js"></script>-->
    <!--<script type='text/javascript' src="js/common/featureMe.js"></script>-->
    <!--<script type='text/javascript' src="js/products.js"></script>-->
</body>

</html>

