
p {
    background-color: teal;
}

.product {
    width: 600px;
    height: 30px;
    background-color: antiquewhite;
    border-bottom: solid black 2px;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
}

.title{
    padding-top: 6px;
    width: 140px;
}

.des{
    padding-top: 6px;
    width: 300px;
}

.product.featured {
    height: 60px;
    width: 600px;
    font-size: 150%;
}

article {
    display: inline-block;
}